@media(max-width: 600px){
    *{
        flex-direction: column;
        align-items: center;
        /* min-width: 90%; */
        /* justify-content:; */
    }

    .home-body{
        flex-direction: column-reverse;
        min-width: 95%;
    }

    .page, .body-info, .picture, .name, .image {
        min-width: 95%;
        align-items: center;
    }



    
}
.page{
    height: 100%;
    width: 100%;
    background: #3c3d3d;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.home-body{
    width: 100%;
    color: white;
     justify-content: center;
    display: flex;
    /* min-height: 100vh; */
    justify-content: center;
    padding-top: 35px;
    /* padding-top: ; */
    /* align-items: center; */
    /* background-color: red; */
}
.body-info{
    width: 40%;
    /* background-color: red; */
    height: fit-content;
    padding: 20px 10px;
    height: 80%;
    display: flex;
    flex-direction: column;
    
}

.picture{
    width: 40%;
    /* background-color: blue; */
    padding: 50px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: 80%;
    
}

.name{
    font-size: 35px;
    line-height: 70px;
}

.image{
    border-radius: 50%;
    width: 300px;
}

@media(max-width:600px){
    .image{
        border-radius: 10px;
        width: 100px;
        /* background-color: red; */
    }
}

.about{
    color:#7f868d;
    line-height: 30px;
}

.skills{
    font-size: 25px;
}

.order-services{
    width: 100%;
    color: white;
    /* background-color:#0eb60e; */
    background-color: #4a90e2;
    border: none;
    padding: 20px;
    font-size: large;
    font-weight: 700;
    margin-top: 50px;
}

.order-services:hover{
    background-color: #257fe8;
}


.about-me{
    max-width: 90%;
    text-align: justify;
    /* min-height: 50vh; */
}

.about-me > p, .about-me>h2 {
    line-height: 30px;
    margin-bottom: 20px;
}

.about-me > p{
    color: #7f868d;
}

.progress-bars{
    display: flex;
    flex-direction: column;
}

@media(min-width: 600px){
    .progress-bars{
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* justify-self: center; */
        /* width: 100%; */
        /* background-color: red; */
    }
    .buttons{
    display: flex;
    flex-direction: row;
    /* width: 49; */
    justify-content: space-around;
}
    /* .button{ */
        /* justify-self: center; */
        /* align-self: center; */
        /* width: 50%; */
    /* } */
}

.skills-head{
    width: 90%;
    /* background-color: red; */
    justify-self: center;
    /* justify-content: left; */
    text-align: start;
    margin-top: 30px;
    color: #fff;
}

.buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.button{
    width: 49%;
}