.skills{
  animation: fadeIn 15s linear infinite;
  display: block;
  
  white-space: nowrap;
  padding-left: 20px;
 margin-top: 30px;
 line-height: 0;

}

.body{
  overflow-x: hidden;
  background-color: rgba(2, 56, 23, 0.886);;
}

.skills > ul{
  display:inline-flex;
  gap: 3rem;

}
ul > li{
  font-weight: 700;
  color: rgba(2, 56, 23, 0.886);
}

.Name{
  color: rgba(2, 56, 23, 0.886);
  margin-bottom: 0px;
  line-height: 1;
 
}


@keyframes fadeIn{
  0% { transform: translateX(100%);}
  100% {transform: translateX(-100%); }
 
}


@media(max-width: 700px){
  .skills{
    animation: fadeIn 20s linear infinite;
  }
@keyframes fadeIn{
  0% { transform: translateX(100%);}
  100% {transform: translateX(-370%); }
 
}



.Name{
  font-size: x-small;
}
}

.cv{
  background-color: rgba(2, 56, 23, 0.886);;
  color: white;
  padding: 10px;
  border: none;
  width: 99%;
  
}

.contact{
  text-align: center;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about{
  background-color:rgba(2, 56, 23, 0.886) ;
  padding-left: 10px;
  color: rgb(226, 226, 226);
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  gap: 1rem;
}

.head{
  background-color: white;
  padding: 10px;
}

h1 h2 h3 h4 h5 h6 {
  line-height: 1;
}

.skill{
  color:  rgb(226, 226, 226);
  font-weight: 400;
  visibility: visible;
  opacity: 1;
  transition: opacity 5s, visibility 5s;
}

.white{
  color:  rgb(226, 226, 226);
  font-weight: 400;
}


